h1{
    color: white;
    background-color: blue;
    text-align: center;
}

ul{
    color: grey;
    background-color: orange;
}

li a{
    color: white;
    background-color: green;
}

.heading-title{
    color: black;
    background-color: beige;
}